[submodule "t/toolkit"]
	path = t/toolkit
	url = https://github.com/api7/test-toolkit.git
[submodule ".github/actions/action-semantic-pull-request"]
	path = .github/actions/action-semantic-pull-request
	url = https://github.com/amannn/action-semantic-pull-request.git
[submodule ".github/actions/autocorrect"]
	path = .github/actions/autocorrect
	url = https://github.com/huacnlee/autocorrect.git
