dist: xenial
sudo: required

matrix:
  fast_finish: true
  allow_failures:
    - os: osx

  include:
    - os: linux
      services:
        - redis-server
    - os: osx
      if: type IN (push)
      cache:
        directories:
          - $HOME/Library/Caches/Homebrew
          - /usr/local/Homebrew

language: c

addons:
  apt:
    packages:
      - cpanminus
      - build-essential
      - libncurses5-dev
      - libreadline-dev
      - libssl-dev
      - perl
      - etcd
      - luarocks
      - lua-check
  homebrew:
    update: true

cache:
  directories:
    - build-cache

before_cache:
  - brew cleanup

before_install:
  - echo $TRAVIS_OS_NAME
  - $PWD/.travis/${TRAVIS_OS_NAME}_runner.sh before_install

install:
  - $PWD/.travis/${TRAVIS_OS_NAME}_runner.sh do_install

script:
  - $PWD/.travis/${TRAVIS_OS_NAME}_runner.sh script

after_success:
  - $PWD/.travis/${TRAVIS_OS_NAME}_runner.sh after_success
