apisix:
  node_listen: 9080             # Apisix listening port
  node_ssl_listen: 9443
  enable_heartbeat: true
  enable_admin: true
  enable_debug: false
  allow_admin: "127.0.0.0/24"
  real_ip_header: "X-Real-IP"     # http://nginx.org/en/docs/http/ngx_http_realip_module.html#real_ip_header
  real_ip_from:                   # http://nginx.org/en/docs/http/ngx_http_realip_module.html#set_real_ip_from
    - 127.0.0.1
    - 'unix:'
  # port_admin: 9180              # use a separate port
  route_idx: 'uri'                # how to create the route index:
                                  #   `uri`: only use `uri` for routing
                                  #   `host+uri`: use `host+uri` for routing

etcd:
  host: "http://127.0.0.1:2379" # etcd address
  prefix: "/apisix"             # apisix configurations prefix
  timeout: 1                    # 1 seconds

plugins:                        # plugin list
  - example-plugin
  - limit-req
  - limit-count
  - limit-conn
  - key-auth
  - prometheus
  - node-status
  - jwt-auth
  - zipkin
