name: misc
on:
  pull_request:
    branches: [master]
jobs:
  misc:
    name: misc checker
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v1
      - name: Install
        run: |
          wget -O - -q https://git.io/misspell | sh -s -- -b .
      - name: Misspell
        run: |
          find *.md apisix doc bin t -not -path "t/toolkit/*.lua" -type f | xargs ./misspell -error
      - name: Merge conflict
        run: |
          grep "^<<<<<<< HEAD" $(git ls-files | grep -v "t/toolkit" | xargs) && exit 1 || true
