name: spellchecker
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  misspell:
    name: runner / misspell
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v1
      - name: Install
        run: |
          wget -O - -q https://git.io/misspell | sh -s -- -b .
      - name: Misspell
        run: |
          find apisix doc bin t -not -path "t/toolkit/*.lua" -type f | xargs ./misspell -error
